html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  margin-bottom: 40px;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

footer {
  background-color: rgb(66,66,66);
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
}

.form-control{
  position: relative;
}

#icon-eye{
  position: absolute;
  display: block;
  text-align: center;
  margin-top: 5px;
  margin-left: 200px;
  user-select: none;
  cursor: pointer;
}

.container{
  flex-direction: column;
  padding-left: 50px;
  border-style: solid;
  border-color: rgb(179, 177, 177);
  border-radius: 5px;
  height: 200px;
  width: 800px;
}