html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  margin-bottom: 40px;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

footer {
  background-color: rgb(66, 66, 66);
  bottom: 0;
  width: 100%;
  height: 100%;
  color: white;
}

.form-control {
  position: relative;
}

#icon-eye {
  position: absolute;
  display: block;
  text-align: center;
  margin-top: 5px;
  margin-left: 200px;
  user-select: none;
  cursor: pointer;
}

.container {
  flex-direction: column;
  padding-left: 50px;
  border-radius: 5px;
  height: 240px;
  width: 700px;
}

.dateEvent {
  border-color: rgb(228, 228, 228);
  border-bottom-style: solid;
  justify-content: start;
  width: 400px;
  height: 80px;
}

.hour {
  width: 150px;
}

.eventAndMeetup {
  display: block;
  height: 100px;
  width: 80%;
}


/* Event styles */
.card {
  width: 450px;
  height: 250px;
  background-color: rgb(121, 121, 121);
}

.photoEvent {
  display: inline-block;
  width: auto;
}

.cardEvent {
  width: 800px;
  height: 500px;
  background-color: rgb(156, 156, 156);
  margin: 20px;
  margin-left: 100px;
  display: inline-flex;
}

/* Meetup styles*/
.cardMeetup {
  width: 700px;
  height: 500px;
  background-color: rgb(156, 156, 156);
  margin-left: 80px;
}